@white: #fefefe;
@btn: rgb(98, 204, 98);
@buttonActive: #36b359;
@darkGreen: #26aa56;
@greyBtn: hsl(0, 0%, 93%);
@arrow: rgb(36, 169, 86);
@text: #212121;
@black: 'Lato Black';
@medium: 'Lato Medium';