@font-face {
	font-family: 'Lato Regular';
	src: url('../fonts/Lato-Regular.eot');
	src: url('../fonts/Lato-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Regular.woff') format('woff'),
		url('../fonts/Lato-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato Medium';
	src: url('../fonts/Lato-Medium.eot');
	src: url('../fonts/Lato-Medium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Medium.woff') format('woff'),
		url('../fonts/Lato-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato Black';
	src: url('../fonts/Lato-Black.eot');
	src: url('../fonts/Lato-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Black.woff') format('woff'),
		url('../fonts/Lato-Black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato Light';
	src: url('../fonts/Lato-Light.eot');
	src: url('../fonts/Lato-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Light.woff') format('woff'),
		url('../fonts/Lato-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato Heavy';
	src: url('../fonts/Lato-Heavy.eot');
	src: url('../fonts/Lato-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Heavy.woff') format('woff'),
		url('../fonts/Lato-Heavy.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lato Bold';
	src: url('../fonts/Lato-Bold.eot');
	src: url('../fonts/Lato-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Lato-Bold.woff') format('woff'),
		url('../fonts/Lato-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

//font-family: 'Lato Black'
//font-family: 'Lato Regular'; font-family: 'Lato Heavy';
* {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

html,
body {
	margin: 0;
	padding: 0;
	color: @text;
	font-family: 'Lato Regular';
	font-size: 15px;

}

a,
a:hover {
	text-decoration: none;
}


ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

h1,
h2,
h3,
p {
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

input {
	outline: none !important;
}

button {
	border: 0px;
	background-color: transparent;
	cursor: pointer;
	padding: 0;
	font-family: 'Lato Regular';

	&:focus {
		outline: none;
	}

}

section {
	padding-top: 60px;
}

.tr {
	transition: .3s;
}

.section-title {
	font-size: 2em;
	position: relative;
	z-index: 1;
	margin-bottom: 2em;
}

.section-title:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 4px;
	background-color: @btn;
	border-radius: 4px;
	width: 81px;
	height: 9px;
	z-index: -1;

}

.section-head {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.section-title {
		margin-bottom: 0;
	}

	a {
		padding-left: 25px;
	}

	@media(max-width:574px) {
		flex-direction: column;

		a {
			margin-left: auto;
			margin-top: 25px;
		}
	}
}

.pl-10 {
	padding-left: 10px;
}

.text-bold {
	font-family: 'Lato Bold';
}

.text-14 {
	font-size: 14px;
	line-height: 20px;
}

.text-12 p {
	font-size: 12px;
	line-height: 18px;
}

.title-3 {
	font-size: 20px;
	font-family: 'Lato Black';

}

.title-5 h3,
.title-5 {
	font-size: 16px;
	font-family: 'Lato Bold';
}

.article-title h3 {
	font-size: 20px;
	font-weight: 1.5;
	margin-bottom: 1em;
}

.text-block {
	li {
		font-size: 15px;
		line-height: 2em;
	}
}

.flex-center {
	display: flex;
	justify-content: center;
}

.breadcrumb {
	background-color: transparent;
	margin-bottom: 33px;
}

.breadcrumb-item {
	position: relative;
	font-size: 13px;
	margin-right: 25px;
	color: @text;

	&:hover {
		color: @btn;
	}
}

.breadcrumb-item+.breadcrumb-item::before,
.breadcrumb-item::before {
	content: '';
	width: 7px;
	height: 7px;
	border-top: 1.5px solid @btn;
	border-right: 1.5px solid @btn;
	transform: rotate(45deg);
	position: absolute;
	right: -15px;
	top: 5px;
}

.breadcrumb-item+.breadcrumb-item::before {
	padding-left: 0;
	padding-right: 0;
	color: unset;
}

.breadcrumb-item:last-child {
	color: #9b9b9b;
	cursor: default;
	pointer-events: none;

	&:before {
		display: none;
	}
}

.info-element {
	display: flex;
	align-items: center;

	.text-box {
		padding-left: 10px;
		font-size: 15px;
	}
}

.table-row {
	display: flex;
	min-height: 55px;
	padding-left: 20px;
	padding-right: 20px;
	align-items: center;
	justify-content: space-between;

	p {
		font-size: 15px;
	}

	.table-cell:first-child {
		width: 70%;

		@media(max-width:991px) {
			width: 80%;
		}
	}

	.table-cell:last-child {
		width: 30%;
		display: flex;
		justify-content: flex-end;

		@media(max-width:991px) {
			width: 18%;
		}
	}

	&:nth-child(2n) {
		background-color: #f4f4f4;
	}

	&.table-row--head {
		font-family: 'Lato Black';
	}
}

.date-period {
	display: flex;
	align-items: center;
	font-family: 'Lato Light';
	font-size: 24px;
	color: #222222;
	width: 100%;
	height: 100%;
	box-shadow: 0 1px rgba(0, 0, 0, .08);
	justify-content: center;

	.prev-period {
		width: 12px;
		height: 12px;
		display: block;
		border-left: 2px solid;
		border-bottom: 2px solid;
		border-color: #a3a3a3;
		transform: rotate(45deg);
		background-color: transparent;
	}

	.next-period {
		width: 12px;
		height: 12px;
		display: block;
		border-right: 2px solid;
		border-bottom: 2px solid;
		border-color: #a3a3a3;
		transform: rotate(-45deg);
		background-color: transparent;
	}

	.next-period:hover,
	.prev-period:hover {
		border-color: @btn;
	}

	p {
		margin-left: 8px;
		margin-right: 8px;
	}
}

//-info-element
.info-element .icon-box {
	color: @btn;
	font-size: 16px;
	margin-right: 10px;
}

.info-element p,
.info-element a {
	font-size: 15px;
}

.info-element a {
	color: @text;
}

.info-element.info-element--address p {
	font-size: 20px;
	line-height: 1.2;

}

.info-element.info-element--phone a {
	font-size: 18px;
	font-family: 'Lato Black';

}

.aside-panel_column .label-block::-webkit-scrollbar {
	/* 1 - скроллбар */
	width: 5px;
	height: 6px;
	background-color: #dedede;
}

.aside-panel_column .label-block::-webkit-scrollbar-button {
	/* 2 - кнопка */
}

.aside-panel_column .label-block::-webkit-scrollbar-track {
	/* 3 - трек */
	background-color: #dedede;
}

.aside-panel_column .label-block::-webkit-scrollbar-track-piece {
	/* 4 - видимая часть трека */
}

.aside-panel_column .label-block::-webkit-scrollbar-thumb {
	/* 5 - ползунок */
	border-radius: 10px;
	background-color: @btn;
}

.aside-panel_column .label-block::-webkit-scrollbar-corner {
	/* 6 - уголок */
}

.aside-panel_column .label-block::-webkit-resizer {
	/* 7 - изменение размеров */
}

.service-page .table-body::-webkit-scrollbar {
	/* 1 - скроллбар */
	width: 5px;
	height: 6px;
	background-color: #eee;
}

.service-page .table-body::-webkit-scrollbar-button {
	/* 2 - кнопка */
}

.service-page .table-body::-webkit-scrollbar-track {
	/* 3 - трек */
	background-color: #eeeeee;
}

.service-page .table-body::-webkit-scrollbar-track-piece {
	/* 4 - видимая часть трека */
}

.service-page .table-body::-webkit-scrollbar-thumb {
	/* 5 - ползунок */
	border-radius: 10px;
	background-color: @btn;
}

.service-page .table-body::-webkit-scrollbar-corner {
	/* 6 - уголок */
}

.service-page .table-body::-webkit-resizer {
	/* 7 - изменение размеров */
}