section.about
	.container
		.section-head
			h2.section-title О клинике
			a(href="#").text-link Подробнее о клинике
		.about-content
			.row
				.col-lg-8
					.about-content__text.text-14
						p На базе медцентра «Medicine» функционирует клиническая лаборатория, оснащенная новым диагностическим оборудованием. Вам доступен широкий спектр медицинских анализов.
						p Центр амбулаторной хирургии в «Medicine» - это хирургия полного цикла:
						ul
							li Первичный прием и диагностика
							li Предоперационное обследование и подготовка
							li Операция с полноценной бригадой специалистов (большая операционная с новым оборудованием экспертного класса)
							li Дневной стационар (комфортная палата с ванной комнатой и ТВ)
							li Постоперационное сопровождение.
						p Центр планирования семьи в «Medicine» также предусматривает полный цикл:
						ul
							li Лечение бесплодия
							li Предгравидарная подготовка (наблюдение беременности и послеродовое обследование)
							li Ведение женщин с отягощенным акушерским анамнезом
							li Исследование проходимости маточных труб
							li Генетическая лаборатория для беременных.
							li Также наши опытные врачи-гинекологи заботятся о женском здоровье вне планирования семьи:
							li Ведение женщин переходного и менопаузального возраста
						p Гистероскопия и ГСГ (в т.ч. перед ЭКО) Медицинский центр в Москве «Medicine» специализируется на ранней диагностике, профилактике и лечении широкого спектра заболеваний. Мы объясняем каждое врачебное действие и подробно отвечаем на все вопросы.
						p Мы лечим профессионально, грамотно, с любовью к своему делу!
					
				.d-none.d-lg-block.col-lg-4
					.about-content__img
						img(src="img/doctor2.png", alt="img")
				
		.benefits-block
			+benefitsItem('head.png', 'Ценим доверие', 'Объясняем диагнозы и схему лечения, пишем разборчиво')
			+benefitsItem('head.png', '5 лет', 'Заботимся о здоровье взрослых и детей')
			+benefitsItem('head.png', '21 доктор', 'Врачи общей практики и узкие специалисты')
			+benefitsItem('head.png', '3 филиала', 'Стараемся быть ближе к нашим пациентам')
			