// SLIDER #2
section.banner.banner2
	.banner-content
		.banner-wrapper2.owl-carousel
			.banner-slide(style="background-image: url(img/banner1.jpg)")
				.container
					h1.title-1 Многопрофильный <br> лечебно—диагностический  медицинский центр
				
			.banner-slide(style="background-image: url(img/banner1.jpg)")
				.container
					h1.title-1 Многопрофильный
						|
						br
						| лечебно—диагностический  медицинский центр
				
			.banner-slide(style="background-image: url(img/banner1.jpg)")
				.container
					h1.title-1 Многопрофильный<br> лечебно—диагностический  медицинский центр
				
	.sections-cards
		.container
			.block-wrapper
				.row
					.col-md-4
						.card-item3
							h3 Многопрофильный лечебно&ndash;диагностический медицинский центр
					.col-md-4
						.card-item3
							h3 Многопрофильный лечебно&ndash;диагностический медицинский центр
					.col-md-4
						.card-item3
							h3 Многопрофильный лечебно&ndash;диагностический медицинский центр
			
