section.banner.banner1
	//слайдер #1
	.banner-content
		.banner-wrapper.owl-carousel
			.banner-slide(style="background-image: url(img/banner1.jpg)")
				.container
					h1.title-1 Многопрофильный <br> лечебно—диагностический  медицинский центр
				//- img(src="img/banner1.jpg", alt="slider")
			.banner-slide(style="background-image: url(img/banner1.jpg)")
				.container
					h1.title-1 Многопрофильный
						|
						br
						| лечебно—диагностический  медицинский центр
				//- img(src="img/banner1.jpg", alt="slider")
			.banner-slide(style="background-image: url(img/banner1.jpg)")
				.container
					h1.title-1 Многопрофильный<br> лечебно—диагностический  медицинский центр
				//- img(src="img/banner1.jpg", alt="slider")
		
		// лэйблы на слайдере #1	
		nav.section-labels
			a(href="#").banner-label
				.banner-label__icon
					+bannerLabel1
				.banner-label__text Взрослое отделение
		
			a(href="#").banner-label
				.banner-label__icon
					+bannerLabel1
				.banner-label__text Детское отделение
		
			a(href="#").banner-label
				.banner-label__icon
					+bannerLabel1
				.banner-label__text Центр планирования семьи
		
			a(href="#").banner-label
				.banner-label__icon
					+bannerLabel1
				.banner-label__text Центр абулаторной хирургии

