section.banner.banner3
	.container
		.banner3-content
			.row
				.col-md-9
					.banner-content
						.banner3-slider.owl-carousel
							.banner-slide(style="background-image: url(img/banner1.jpg)")
								.slider-title
									h1.title-1 Многопрофильный <br> лечебно—диагностический  медицинский центр
									.page-button.page-button--color Подробнее
								
							.banner-slide(style="background-image: url(img/banner1.jpg)")
								.slider-title
									h1.title-1 Многопрофильный <br> лечебно—диагностический  медицинский центр
									.page-button.page-button--color Подробнее
								
							.banner-slide(style="background-image: url(img/banner1.jpg)")
								.slider-title
									h1.title-1 Многопрофильный<br> лечебно—диагностический  медицинский центр
									.page-button.page-button--color Подробнее
								
				.d-none.d-md-flex.col-md-3
					.banner-content__column
						.card-item3
							h3 Многопрофильный лечебно&ndash;диагностический медицинский центр
						.card-item3
							h3 Многопрофильный лечебно&ndash;диагностический медицинский центр
	
	.sections-cards
		.container
			.block-wrapper
				.row
					.col-md-3
						.card-item3
							h3 Многопрофильный лечебно&ndash;диагностический медицинский центр
					.col-md-3
						.card-item3
							h3 Многопрофильный лечебно&ndash;диагностический медицинский центр
					.col-md-3
						.card-item3
							h3 Многопрофильный лечебно&ndash;диагностический медицинский центр
					.col-md-3
						.card-item3
							h3 Многопрофильный лечебно&ndash;диагностический медицинский центр