section.banner1
	.banner1-content
		.banner-wrapper.owl-carousel
			.banner-slide(data-hash="cat1")
				.container
					h1.title-1 Многопрофильный <br> лечебно—диагностический  медицинский центр
				img(src="img/banner1.jpg", alt="slider")
			.banner-slide(data-hash="cat2")
				.container
					h1.title-1 Многопрофильный
						|
						br
						| лечебно—диагностический  медицинский центр
				img(src="img/banner1.jpg", alt="slider")
			.banner-slide(data-hash="cat3")
				.container
					h1.title-1 Многопрофильный<br> лечебно—диагностический  медицинский центр
				img(src="img/banner1.jpg", alt="slider")
			.banner-slide(data-hash="cat4")
				.container
					h1.title-1 Многопрофильный<br> лечебно—диагностический  медицинский центр
				img(src="img/banner1.jpg", alt="slider")
		ul.banner-controls
			li
				a(href="#cat1").banner-label
					.banner-label__icon
						+bannerLabel1
					.banner-label__text Взрослое отделение
			li
				a(href="#cat2").banner-label
					.banner-label__icon
						+bannerLabel1
					.banner-label__text Детское отделение
			li
				a(href="#cat3").banner-label
					.banner-label__icon
						+bannerLabel1
					.banner-label__text Центр планирования семьи
			li
				a(href="#cat4").banner-label
					.banner-label__icon
						+bannerLabel1
					.banner-label__text Центр абулаторной хирургии
			
