footer.footer
	.container
		.row
			.col-xl-3
				.footer-logo-block
					a(href="index.html").logo.mb-20
						img(src="img/logo.png", alt="logo" width="100")
					.contacts-phones.mb-20
						a(href="tel:+74992140000") +7(499) 214-00-00
						a(href="tel:+74992140000") +7(499) 214-00-00
					.contacts-address.mb-20
						p Москва, г. Зеленоград, к. 1130
						p Открытие до 21-00
					.contacts-social.contacts-social--grey
						a(href="#")
							i.fab.fa-facebook-f
						a(href="#")
							i.fab.fa-vk
						a(href="#")
							i.fab.fa-instagram
						a(href="#")
							i.fab.fa-odnoklassniki
			.col-md-4.col-xl-3
				.footer-column
					.serv-list
						a(href="service-page.html").text-link Андрология
						a(href="service-page.html").text-link Андрология
						a(href="service-page.html").text-link Андрология
						a(href="service-page.html").text-link Андрология
						a(href="service-page.html").text-link Андрология
						a(href="service-page.html").text-link Андрология
						a(href="service-page.html").text-link Андрология

			.col-md-4.col-xl-3
				.footer-column
					.serv-list
						a(href="service-page.html").text-link Андрология
						a(href="service-page.html").text-link Андрология
						a(href="service-page.html").text-link Андрология
						a(href="service-page.html").text-link Андрология
						a(href="service-page.html").text-link Андрология
						a(href="service-page.html").text-link Андрология
						a(href="service-page.html").text-link Андрология

			.col-md-4.col-xl-3
				.footer-column
					.serv-list
						a(href="service-page.html").text-link Андрология
						a(href="service-page.html").text-link Андрология
						a(href="service-page.html").text-link Андрология
						a(href="service-page.html").text-link Андрология
						a(href="service-page.html").text-link Андрология
						a(href="service-page.html").text-link Андрология
						a(href="service-page.html").text-link Андрология
.copyright
	.container
		.copyright-content
			.copyright-col
				p Семейная медицинская клиника
				p Medicine © 2020
			.copyright-col.text-center
				p Лицензия № ЛО-77-01-017139 от 06 декабря 2018 г. на осуществление медицинской деятельности,
				p предоставлена Департаментом здравоохранения города Москвы бессрочно.
			.copyright-col.d-flex
				p Создание сайта
				a(href="#").copyright-logo
					img(src="img/logo-white.png", alt="logo")