+header-nav([{link: "#", title: "Клиника"}, {link: "#", title: "Услуги"}, {link: "#", title: "Специалисты"}, {link: "#", title: "Расписание"}, {link: "#", title: "Программы"}, {link: "#", title: "Контакты"}])

header
	.container
		.header-content
			.info-block
				a(href="#").logo
					img(src="img/logo.png", alt="logo")
				.contacts-block
					.contacts-phones
						a(href="tel:+74992140000") +7 (499) 214-00-00
						a(href="tel:+74992140000") +7 (499) 214-00-00
					.contacts-address
						p Москва, г. Зеленоград, к. 1130
						p Открытие до 21-00
					.contacts-social
						a(href="#").fab.fa-facebook-f
						a(href="#").fab.fa-vk
						a(href="#").fab.fa-instagram
						a(href="#").fab.fa-odnoklassniki
			.header-button
				button.page-button.page-button--color Записаться к врачу


.container(style="margin-top:30px;")
	.page-button.page-button2 Записаться к врачу
	
	.page-button.page-button--color Записаться к врачу
	a(href="#").text-link Записаться к врачу
.container(style="margin-top:30px;")
	.section-title Section-title
.container(style="margin-top:30px;")
	.banner-label
		.banner-label__icon
			+bannerLabel1
		.banner-label__text Взрослое отделение

	.banner-label.banner-label2
		p Программы для&nbsp;всей семьи
.container(style="margin-top:30px;")
	.card-doctor
		.card-img
			img(src="img/doctor1.png", alt="img")
		.card-text
			h3 Мария Кравцова
			p Главврач