+header-nav([{link: "#", title: "Клиника"}, {link: "#", title: "Услуги"}, {link: "#", title: "Специалисты"}, {link: "page-timetable.html", title: "Расписание"}, {link: "#", title: "Программы"}, {link: "#", title: "Контакты"}])

header.d-none.d-md-block
	.container
		.header-content
			.info-block
				a(href="#").logo
					img(src="img/logo.png", alt="logo")
				.d-none.d-md-flex.contacts-block
					.contacts-phones
						a(href="tel:+74992140000") +7(499) 214-00-00
						a(href="tel:+74992140000") +7(499) 214-00-00
					.contacts-address
						p Москва, г. Зеленоград, к. 1130
						p Открытие до 21-00
					.contacts-social
						a(href="#").fab.fa-facebook-f
						a(href="#").fab.fa-vk
						a(href="#").fab.fa-instagram
						a(href="#").fab.fa-odnoklassniki
			.d-none.d-md-block.header-button
				button.page-button.page-button--color Записаться к врачу