
header.head.head-grey
	.top-panel
		.container
			.top-panel-content
				
				.top-panel-contacts
					.phone-block
						.phone-block__icon
							i.fas.fa-phone.fa-flip-horizontal
						a(href="tel:+75555555555") +7(555)-555-55-55
						a(href="tel:+75555555555") +7(555)-555-55-55
					.address-block
						.address-block__item
							.address-block__icon
								i.fas.fa-map-marker-alt
							p Москва, г. Зеленоград, к.1130
						.address-block__item
							.address-block__icon
								i.far.fa-clock
							p Открыты до 21:00
				.contacts-social
					a(href="#").fab.fa-facebook-f
					a(href="#").fab.fa-vk
					a(href="#").fab.fa-instagram
					a(href="#").fab.fa-odnoklassniki

				button.cmn-toggle-switch.cmn-toggle-switch__htx#nav-menu-toggle
						span toggle menu
	.nav-panel
		.container
			.nav-panel-content
				a(href="#").logo
					img(src="img/logo.png", alt="logo" width="100")
				.menu-block
					ul.menu-block__nav.header-nav
						li
							a(href="#") Главная
						li
							a(href="#" data-role='dropdown') Услуги
							.drop-menu
								.drop-menu-block
									h4 Планирование семьи
									.serv-list
										a(href="service-page.html").text-link Андрология
										a(href="service-page.html").text-link Андрология
										a(href="service-page.html").text-link Андрология
										a(href="service-page.html").text-link Андрология
										a(href="service-page.html").text-link Андрология
										a(href="service-page.html").text-link Андрология
								.drop-menu-block
									h4 Планирование семьи
									.serv-list
										a(href="service-page.html").text-link Андрология
										a(href="service-page.html").text-link Андрология
										a(href="service-page.html").text-link Андрология
										a(href="service-page.html").text-link Андрология
										a(href="service-page.html").text-link Андрология
										a(href="service-page.html").text-link Андрология
								.drop-menu-block
									h4 Планирование семьи
									.serv-list
										a(href="service-page.html").text-link Андрология
										a(href="service-page.html").text-link Андрология
										a(href="service-page.html").text-link Андрология
										a(href="service-page.html").text-link Андрология
										a(href="service-page.html").text-link Андрология
										a(href="service-page.html").text-link Андрология
						li
							a(href="#") Специалисты
						li
							a(href="#") Расписание
						li
							a(href="#") Программы
						li
							a(href="#") Контакты
					.menu-block__search.header-search
						form
							.search-input#search-input
								input(type="text" placeholder="Поиск по сайту")
								
								button.search-btn#search-btn
									i.fas.fa-search

				.header-button.d-none.d-md-block
					button.page-button.page-button3 Записаться к врачу
				