section.news
	.container
		h2.section-title Новости
		.news-tabs
			input#news-btn-1(type="radio" name="new-btn" checked)
			label(for="news-btn-1").text-link  Новости
			input#news-btn-2(type="radio" name="new-btn" )
			label(for="news-btn-2").text-link Акции
			input#news-btn-3(type="radio" name="new-btn" )
			label(for="news-btn-3").text-link Публикации
			#news-1 111
			#news-2 222
			#news-3 333