section.news
	.container
		h2.section-title Новости
		.news-tabs
			input#news-btn-1(type="radio" name="new-btn" checked)
			label(for="news-btn-1").text-link  Новости
			input#news-btn-2(type="radio" name="new-btn" )
			label(for="news-btn-2").text-link Акции
			input#news-btn-3(type="radio" name="new-btn" )
			label(for="news-btn-3").text-link Публикации
			#news-1
				.news-cards
					+newCard('Новости')
					+newCard('Новости')
					+newCard('Новости')
					+newCard('Новости')
			#news-2
				.news-cards
					+newCard('Акции')
					+newCard('Акции')
					+newCard('Акции')
					+newCard('Акции')

			#news-3
				.news-cards
					+newCard('Публикации')
					+newCard('Публикации')
					+newCard('Публикации')
					+newCard('Публикации')
