section.our-specialist
	.container
		h2.section-title Наши специалисты
		.content-wrapper
			.row
				.col-sm-6.col-md-4.col-xl-2
					+ourSpecialistCard
				.col-sm-6.col-md-4.col-xl-2
					+ourSpecialistCard
				.col-sm-6.col-md-4.col-xl-2
					+ourSpecialistCard
				.col-sm-6.col-md-4.col-xl-2
					+ourSpecialistCard
				.col-sm-6.col-md-4.col-xl-2
					+ourSpecialistCard
				.col-sm-6.col-md-4.col-xl-2
					+ourSpecialistCard
			.section-button
				.page-button.page-button2 Записаться к врачу