section.partners
	.container
		.partners-slider.owl-carousel
			.partner-logo
				img(src="img/partner1.png", alt="")
			.partner-logo
				img(src="img/partner2.png", alt="")
			.partner-logo
				img(src="img/partner3.png", alt="")
			.partner-logo
				img(src="img/partner4.png", alt="")
			.partner-logo
				img(src="img/partner5.png", alt="")
			.partner-logo
				img(src="img/partner6.png", alt="")