section.persone-page
	.container
		+breadcrmb([{link:'index.html', title: 'Главная'}, {link:'specialists.html', title: 'Специалисты'}, {link:'#', title: 'Баранова Вера Николаевна'}])
		h2.section-title Баранова Вера Николаевна
		
		.page-content
			.row
				.col-lg-9
					.page-content__column
						.persone-info#about
							.row
								.col-md-6
									.persone-info__img(style="background-image: url(img/doctor-photo.png)")
										.persone-info__label
											h4 Гинеколог 
											ul
												li Гинеколог-эндокринолог
												li Гинеколог-эндокринолог	
												li Репродуктолог   
												li Репродуктолог
								.col-md-6
									.persone-info__table
										+table({head1: 'Услуги врача', head2: '', el:[{text1:'Прием (осмотр, консультация) врача-терапевта, первичный ', text2:'1500р'}, 
										{text1:'Прием (осмотр, консультация) врача-терапевта, первичный ', text2:'1500р'},
										{text1:'Прием (осмотр, консультация) врача-терапевта, первичный ', text2:'1500р'},]})(class="table-block2")
										a(href="#").text-link Смотреть все услуги
										.btn-group
											.page-button.page-button2 Оставить отзыв	
											.page-button.page-button2 Записаться к врачу								
						//услуги
						article.persone-service#service
							+table({head1: 'Услуги врача', head2: '', el:[{text1:'Прием (осмотр, консультация) врача-терапевта, первичный ', text2:'1500р'}, 
							{text1:'Прием (осмотр, консультация) врача-терапевта, первичный ', text2:'1500р'},
							{text1:'Прием (осмотр, консультация) врача-терапевта, первичный ', text2:'1500р'},]})(class="table-block2")

						//расписание
						article.persone-timetable#timetable
							.article-title
								h3 Расписание
							.timetable2
								+timeTableHead2
								+timetableItems
								+datePeriod
						//образование и опыт
						article.text-block.persone-experience#experience
							.article-title
								h3 Опыт и образование
							ul
								li 1984г. окончила Карагандинский государственный медицинский институт по специальности «лечебное дело».
								li 1984-1985 г.г. походила интернатуру по специальности «Терапия» МСЧ КМК г. Темиртау
								li 1985-1987 г.г. работала цеховым терапевтом поликлиники МСЧ КМК г. Темиртау.
								li 1987-1988 г.г. работала врачом-диетологом МСЧ завода им. Дегтярева г. Ковров Владимирской обл.
								li 1989-1996 г.г. работа в должности зав. приемным отделением ЦРБ г. Ковров
								li 1996-2010 г.г. - врач-ординатор, зав. терапевтическим отделением железнодорожной больницы г. Ковров
								li С 2010 г. работа в частных медицинских центрах г. Зеленограда.
								li В 2012г. прошла профессиональную переподготовку по программе «Общая врачебная практика (семейная медицина)» на базе Первого МГМУ им. Сеченова.
								li Имеет сертификаты специалиста по направлениям «терапия» и программе «общая врачебная практика (семейная медицина)».
								li С 2016 г. ведет прием в медицинском центре АКСИС в должности врача-терапевта.
								li 2017 г. повышение квалификации по программе "Общая врачебная практика"
						//серитфикаты
						article.persone-sert#sert
							.persone-sert-slider.owl-carousel
								.persone-sert-item
									img(src="img/doc.jpg", alt="сертификат")
								.persone-sert-item
									img(src="img/doc.jpg", alt="сертификат")
								.persone-sert-item
									img(src="img/doc.jpg", alt="сертификат")
								.persone-sert-item
									img(src="img/doc.jpg", alt="сертификат")
								.persone-sert-item
									img(src="img/doc.jpg", alt="сертификат")
								.persone-sert-item
									img(src="img/doc.jpg", alt="сертификат")
								.persone-sert-item
									img(src="img/doc.jpg", alt="сертификат")
								.persone-sert-item
									img(src="img/doc.jpg", alt="сертификат")
						article.persone-review#review
							.article-title
								h3 Отзывы пациентов
							//отзыв
							.review-slider__item.review-item--static
								.review-content
									.review-head
										.author-photo
											img(src="img/rev1.jpg", alt="photo")
										.autor-name
											p Ирина
											p Москва
									.review-text
										p Так много добрых слов хочется написать о коллективе клиники. Спасибо огромное Колесник Алексею Петровичу за проведенную операцию, я так много добрых отзывов слышала и читала о нем, что без сомнений доверила свое здоровье и жизнь Вам, Алексей Петрович! Спасибо Антону Олеговичу за его грамотность, профессионализм, внимательность, доброту, это замечательный врач и человек, общение с такими людьми, врачами с большой буквы, вселяет надежду на самый лучший результат!! Алексей Петрович, Антон Олегович, Юлия Ивановна, спасибо всем вам, низкий вам поклон за ваш тяжелый и такой необходимый для нас пациентов труд! Благодарю вас!!!!
							//отзыв
							.review-slider__item.review-item--static
								.review-content
									.review-head
										.author-photo
											img(src="img/rev1.jpg", alt="photo")
										.autor-name
											p Ирина
											p Москва
									.review-text
										p Так много добрых слов хочется написать о коллективе клиники. Спасибо огромное Колесник Алексею Петровичу за проведенную операцию, я так много добрых отзывов слышала и читала о нем, что без сомнений доверила свое здоровье и жизнь Вам, Алексей Петрович! Спасибо Антону Олеговичу за его грамотность, профессионализм, внимательность, доброту, это замечательный врач и человек, общение с такими людьми, врачами с большой буквы, вселяет надежду на самый лучший результат!! Алексей Петрович, Антон Олегович, Юлия Ивановна, спасибо всем вам, низкий вам поклон за ваш тяжелый и такой необходимый для нас пациентов труд! Благодарю вас!!!!

				.d-none.d-lg-block.col-lg-3
					aside.aside-panel
						nav.aside-menu
							a(href="#about") Врач
							a(href="#service") Услуги
							a(href="#timetable") Расписание
							a(href="#experience") Образование и опыт
							a(href="#sert") Сертификаты
							a(href="#review") Отзывы
						.aside-panel_column
							h3 Другие специалисты
							+smallCard
							+smallCard
							+smallCard
							+smallCard
							+smallCard