section.programms-slider
	.container
		.section-head
			h2.section-title Комплексные экспресс программы
			a(href="#").text-link Смотреть все программы
		
		.programms-slider-wrapper
			.programms-slider__left
				.banner-label.banner-label2
					p Программы для&nbsp;всей семьи
				.banner-label.banner-label2
					p Программы для&nbsp;всей семьи
				.banner-label.banner-label2
					p Программы для&nbsp;всей семьи
				.banner-label.banner-label2
					p Программы для&nbsp;всей семьи
				.banner-label.banner-label2
					p Программы для&nbsp;всей семьи
					
			.programms-carousel.owl-carousel
				.programms-carousel__item(style="background-image: url(img/programm1.jpg)")
					.programm-card__text
						.label
							p  Программа
						h4 Моя семья
						p Годовая программа обслуживания Вашей семьи
						.price
							p от 30 000 р
				.programms-carousel__item(style="background-image: url(img/programm1.jpg)")
					.programm-card__text
						.label
							p  Программа
						h4 Моя семья
						p Годовая программа обслуживания Вашей семьи
						.price
							p от 30 000 р
				.programms-carousel__item(style="background-image: url(img/programm1.jpg)")
					.programm-card__text
						.label
							p  Программа
						h4 Моя семья
						p Годовая программа обслуживания Вашей семьи
						.price
							p от 30 000 р
			#counter