section.review
	.container
		h2.section-title Отзывы пациентов
		.review-slider.owl-carousel
			.review-slider__item
				.review-content
					.review-head
						.author-photo
							img(src="img/rev1.jpg", alt="photo")
						.autor-name
							p Ирина
							p Москва
					.review-text.text-center
						p Так много добрых слов хочется написать о коллективе клиники. Спасибо огромное Колесник Алексею Петровичу за проведенную операцию, я так много добрых отзывов слышала и читала о нем, что без сомнений доверила свое здоровье и жизнь Вам, Алексей Петрович! Спасибо Антону Олеговичу за его грамотность, профессионализм, внимательность, доброту, это замечательный врач и человек, общение с такими людьми, врачами с большой буквы, вселяет надежду на самый лучший результат!! Алексей Петрович, Антон Олегович, Юлия Ивановна, спасибо всем вам, низкий вам поклон за ваш тяжелый и такой необходимый для нас пациентов труд! Благодарю вас!!!!
			.review-slider__item
				.review-content
					.review-head
						.author-photo
							img(src="img/rev1.jpg", alt="photo")
						.autor-name
							p Ирина
							p Москва
					.review-text.text-center
						p Так много добрых слов хочется написать о коллективе клиники. Спасибо огромное Колесник Алексею Петровичу за проведенную операцию, я так много добрых отзывов слышала и читала о нем, что без сомнений доверила свое здоровье и жизнь Вам, Алексей Петрович! Спасибо Антону Олеговичу за его грамотность, профессионализм, внимательность, доброту, это замечательный врач и человек, общение с такими людьми, врачами с большой буквы, вселяет надежду на самый лучший результат!! Алексей Петрович, Антон Олегович, Юлия Ивановна, спасибо всем вам, низкий вам поклон за ваш тяжелый и такой необходимый для нас пациентов труд! Благодарю вас!!!!
			.review-slider__item
				.review-content
					.review-head
						.author-photo
							img(src="img/rev1.jpg", alt="photo")
						.autor-name
							p Ирина
							p Москва
					.review-text.text-center
						p Так много добрых слов хочется написать о коллективе клиники. Спасибо огромное Колесник Алексею Петровичу за проведенную операцию, я так много добрых отзывов слышала и читала о нем, что без сомнений доверила свое здоровье и жизнь Вам, Алексей Петрович! Спасибо Антону Олеговичу за его грамотность, профессионализм, внимательность, доброту, это замечательный врач и человек, общение с такими людьми, врачами с большой буквы, вселяет надежду на самый лучший результат!! Алексей Петрович, Антон Олегович, Юлия Ивановна, спасибо всем вам, низкий вам поклон за ваш тяжелый и такой необходимый для нас пациентов труд! Благодарю вас!!!!