section.service-page
	.container
		+breadcrmb([{link:'index.html', title: 'Главная'}, {link:'#', title: 'Медицинские услуги'}, {link:'#', title: 'Эндокринолог'}])
		h2.section-title Эндокринолог
		
		.page-content
			.row
				.col-lg-9
					.page-content__column
						.search-group
							.search-block
								input(type="text" name="" placeholder="Поиск по названию")
								button
									i.fas.fa-search
						.price-table
							+table({head1: 'Наименование', head2: 'Стоимость', el:[
							{text1:'Прием (осмотр, консультация) врача эндокринолога, первичный ', text2:'1500р'}, 
							{text1:'Прием (осмотр, консультация) врача эндокринолога, первичный', text2:'1500р'},
							{text1:'Прием (осмотр, консультация) врача эндокринолога, первичный', text2:'1500р'}, {text1:'Прием (осмотр, консультация) врача эндокринолога, первичный ', text2:'1500р'}, 
							{text1:'Прием (осмотр, консультация) врача эндокринолога, первичный', text2:'1500р'},
							{text1:'Прием (осмотр, консультация) врача эндокринолога, первичный', text2:'1500р'},{text1:'Прием (осмотр, консультация) врача эндокринолога, первичный ', text2:'1500р'}, 
							{text1:'Прием (осмотр, консультация) врача эндокринолога, первичный', text2:'1500р'},
							{text1:'Прием (осмотр, консультация) врача эндокринолога, первичный', text2:'1500р'}, 
							{text1:'Прием (осмотр, консультация) врача эндокринолога, первичный', text2:'1500р'},
							{text1:'Прием (осмотр, консультация) врача эндокринолога, первичный', text2:'1500р'}, 
							{text1:'Прием (осмотр, консультация) врача эндокринолога, первичный', text2:'1500р'},
							{text1:'Прием (осмотр, консультация) врача эндокринолога, первичный', text2:'1500р'}, 
							{text1:'Прием (осмотр, консультация) врача эндокринолога, первичный', text2:'1500р'},
							{text1:'Прием (осмотр, консультация) врача эндокринолога, первичный', text2:'1500р'}]
							})
						//расписание
						article.persone-timetable#timetable
							.article-title
								h3 Расписание
							.timetable2
								+timeTableHead2
								+timetableItems
								+datePeriod
						//программы
						article.article-programms
							.article-title
								h3 Программы
							+programmContent2
							.text-block
								p Современная эндокринология занимается диагностикой, лечением и профилактикой патологий гормональной (эндокринной) системы человека. Нормальный баланс гормонов в организме обеспечивает его физиологическую регуляцию, слаженную работу всех органов и систем.

								p На консультацию к врачам-эндокринологам нашего центра пациенты могут приходить как самостоятельно, так и по направлению от других специалистов. Во время беседы врач обязательно тщательно собирает анамнез: расспрашивает пациента о его жалобах, узнает о наличии эндокринных патологий у родственников. После объективного осмотра эндокринолог при необходимости назначает ряд специальных анализов и исследований, которые можно сделать в нашем центре. Качественное оборудование позволяет выполнять обследование пациентов в оптимальные сроки и с максимальной точностью. Кроме врачей-эндокринологов в нашем центре имеются такие специалисты, как хирург кабинета «Диабетическая стопа» и #[a(href="persone-page.html") хирург-эндокринолог], проводящий пункционную биопсию узловых образований щитовидной железы.
							
							.text-block
									h3 Вызов эндокринолога на дом									
									p Записаться на платную консультацию эндокринолога в «Аксис» можно, позвонив по телефону +7 (499) 214-00-00 или заполнив #[a(href="#") форму обратного звонка] или форму онлайн записи на нашем сайте. Кроме этого, Вы можете вызвать эндокринолога на дом, в удобное для Вас время.
						.flex-center
							button.page-button.page-button--color Записаться на консультацию
					

				.col-lg-3
					aside.aside-panel
						.aside-panel_column
							h3 Другие специалисты
							.cards-group
								+smallCard
								+smallCard
								+smallCard
								+smallCard
								+smallCard