		.programms-slider-wrapper
			nav.persone-info-nav
				.nav.nav-tabs(role="tablist")
					a.nav-item.nav-link.active.banner-label.banner-label2(data-toggle="tab" href="#nav-one" role="tab" aria-controls="nav-one" aria-selected="true")
						p Программы для&nbsp;всей семьи
					a.nav-item.nav-link.banner-label.banner-label2(data-toggle="tab" href="#nav-two" role="tab" aria-controls="nav-two" aria-selected="false")
						p Программы для&nbsp;всей семьи

			.tab-content
				.tab-pane.fade.show.active(role="tabpanel" aria-labelledby="nav-one-tab")
					.programms-carousel.owl-carousel.prog1
						.programms-carousel__item(style="background-image: url(img/programm1.jpg)")
							.programm-card__text
								.label
									p  Программа
								h4 Моя семья
								p Годовая программа обслуживания Вашей семьи
								.price
									p от 30 000 р
						.programms-carousel__item(style="background-image: url(img/programm1.jpg)")
							.programm-card__text
								.label
									p  Программа
								h4 Моя семья
								p Годовая программа обслуживания Вашей семьи
								.price
									p от 30 000 р
						
					.counter

				.tab-pane.fade(role="tabpanel" aria-labelledby="nav-two-tab")
					.programms-carousel.owl-carousel.prog2
						.programms-carousel__item(style="background-image: url(img/programm1.jpg)")
							.programm-card__text
								.label
									p  Программа
								h4 Моя семья
								p Годовая программа обслуживания Вашей семьи
								.price
									p от 30 000 р
						.programms-carousel__item(style="background-image: url(img/programm1.jpg)")
							.programm-card__text
								.label
									p  Программа
								h4 Моя семья
								p Годовая программа обслуживания Вашей семьи
								.price
									p от 30 000 р
						
					.counter