.container(style="margin-top:30px;")
	.page-button.page-button2 Записаться к врачу
	
	.page-button.page-button--color Записаться к врачу
	a(href="#").text-link Записаться к врачу
.container(style="margin-top:30px;")
	.section-title Section-title
.container(style="margin-top:30px;")
	.banner-label
		.banner-label__icon
			+bannerLabel1
		.banner-label__text Взрослое отделение

	.banner-label.banner-label2
		p Программы для&nbsp;всей семьи
.container(style="margin-top:30px;")
	.card-doctor
		.card-img
			img(src="img/doctor1.png", alt="img")
		.card-text
			h3 Мария Кравцова
			p Главврач