section.video-slider
	.container
		.section-head
			h2.section-title Видеоблог Medicine
			p Наши врачи отвечают на популярные вопросы
		.video-blog.owl-carousel
			.item-video
				a.owl-video(href="https://www.youtube.com/watch?v=JpxsRwnRwCQ")
			
			.item-video
				a.owl-video(href="https://www.youtube.com/watch?v=MJ4PER3C1nc")
			
			.item-video
				a.owl-video(href="https://www.youtube.com/watch?v=tM2RS9bxAnM")
			