section.video-slider
	.container
		.section-head
			h2.section-title Видеоблог Medicine
			p Наши врачи отвечают на популярные вопросы
		.video-blog.owl-carousel
			//- .item-video
			//- 	a(class="owl-video" href="https://www.youtube.com/watch?v=mm8QZhXOsMo")
			//- .item-video
			//- 	a(class="owl-video" href="https://www.youtube.com/watch?v=mm8QZhXOsMo")
			//- .item-video
			//- 	a(class="owl-video" href="https://www.youtube.com/watch?v=mm8QZhXOsMo")
			.item-video
				iframe(width="100%" height="100%" src="https://www.youtube.com/embed/JpxsRwnRwCQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
			
			.item-video
				iframe(width="100%" height="100%" src="https://www.youtube.com/embed/GvbQzRAi4wM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
			
			.item-video
				iframe(width="100%" height="100%" src="https://www.youtube.com/embed/zsfj9j0kjoU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
				