.about {
	padding-bottom: 40px;

	.section-head {
		margin-bottom: 2em;
	}

	.about-content__text {
		padding-bottom: 48px;

		p {
			margin-bottom: 18px;

			&:last-child {
				margin-bottom: 0;
			}
		}

		p+ul {
			margin-top: -16px;

			li {
				margin-bottom: 3px;
			}
		}
	}

	.about-content__img {
		position: relative;
		// top: 60px;
		height: 100%;

		img {
			position: absolute;
			bottom: 0;
			right: 0;
		}
	}

}