.header-top {
	height: 50px;
	background-color: #474747;

	@media(max-width:767px) {
		padding-top: 5px;
	}
}



.mobile-phone {
	font-size: 15px;
	white-space: nowrap;
	display: none;

	@media(max-width:767px) {
		display: block;

		a {
			color: @white;

			&:hover {
				color: @white;
			}
		}
	}
}

.mobile-logo {
	display: none;

	@media(max-width:767px) {
		display: block;
		min-width: 50px;
		max-width: 50px;
		margin-right: 30px;

	}

	@media(max-width:424px) {

		min-width: 40px;
		max-width: 40px;
		margin-right: 15px;


	}
}

.header-top-content {
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

.header-menu {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	z-index: 2;
}

.header-nav {
	display: flex;
	height: 50px;
	z-index: 2;

	@media(max-width: 991px) {
		position: fixed;
		top: 50px;
		left: 0;
		width: 320px;
		display: block;
		padding-left: 40px;
		padding-top: 40px;
		transform: translateX(-100%);
		-webkit-transition: .5s;
		-moz-transition: .5s;
		-ms-transition: .5s;
		-o-transition: .5s;
		transition: .5s;
		background-color: @btn;
		height: 100vh;
	}
}

.header-nav li {
	position: relative;

	.drop-menu {
		display: none;
		position: absolute;
		bottom: 0px;
		left: 0;
		transform: translateY(100%);
		padding: 20px;
		background-color: rgb(243, 243, 243);
		box-shadow: 0px 0px 49px 0px rgba(0, 1, 2, 0.25);

		@media(max-width:1199px) {
			display: none;
		}

		z-index: 2;

		.drop-menu-block {
			margin-right: 50px;
		}

		.serv-list {
			flex-direction: column;
		}

		.drop-menu-block h4 {
			font-size: 16px;
			font-family: 'Lato Regular';
			color: #090909;

			@media(min-width: 1200px) {
				white-space: nowrap;
			}
		}

		a {
			font-family: 'Lato Regular';
			height: auto;
			padding-right: 0;
			padding-left: 25px;
			font-size: 14px;
			color: #5c5c5c;
			margin-bottom: 5px;
			width: fit-content;

			&:after {
				width: 7px;
				height: 7px;
			}


			&:hover {
				color: #5c5c5c;


				&:before {

					background-color: #5c5c5c;
				}

			}
		}
	}

	&:hover {
		background-color: #36b259;

		a {
			color: #fff;
		}

		.drop-menu {
			display: flex;

			@media(max-width:1199px) {
				display: none;
			}
		}

		.drop-menu a {
			color: #5c5c5c;

		}

	}


	a {
		display: block;
		padding-left: 16px;
		padding-right: 16px;
		// height: 50px;
		// color: #494949;
		font-family: 'Lato Black';
	}
}

.header-nav.active {
	transform: translateX(0%);
}

.header-nav-item {
	font-size: 14px;
	color: @white;
	font-family: 'Lato Black';
	display: block;
	padding-left: 16px;
	padding-right: 16px;
	height: 100%;
	line-height: 50px;
	transition: .5s;

	@media(max-width:991px) {
		height: auto;
		padding-top: 10px;
		padding-bottom: 10px;
		line-height: 1.2;
		margin-right: 0;
		width: fit-content;
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 1px;
		margin-bottom: 10px;
	}

	&:hover {
		background-color: @buttonActive;
		color: @white;

		@media(max-width:991px) {
			background-color: transparent;
			border-bottom: 1px solid #fff;
		}
	}

	&.active {
		background-color: @buttonActive;

		@media(max-width:991px) {
			background-color: transparent;
			border-bottom: 1px solid #fff;
		}

	}

}

.header-search {
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;

	@media(max-width:991px) {
		position: relative;
	}

	@media(max-width:767px) {
		position: absolute;
		top: -25px;
		right: -10px;
		// width: calc(~'100vw - 55px');
		// max-width: 465px;

	}


	form {
		display: flex;
		width: 100%;
		align-items: center;
		position: relative;
		justify-content: flex-end;

	}

	.search-input {
		width: 0%;
		height: 50px;
		transition: width .5s;

		@media(max-width:991px) {
			width: 100%;
		}

		@media(max-width:767px) {
			width: 0%;
		}



	}

	.search-input.active {

		width: 100%;


	}

	.search-input input {
		display: block;
		border: 0px;
		color: @white;
		width: 100%;
		height: 50px;
		background-color: @btn;

		&::placeholder {
			color: @white;
			font-size: 14px;
			font-family: 'Lato Medium';
		}
	}

	.search-btn {
		min-width: 50px;
		height: 50px;
		display: flex;
		align-items: center;
		margin-left: auto;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: @btn;
		justify-content: center;

		i {
			pointer-events: none;
			color: @white;
			font-size: 17px;
		}

		@media(max-width:767px) {
			min-width: 35px;
			max-width: 35px;
			height: 50px;
		}
	}
}

.header-search.active {
	z-index: 10;

	// width: calc(~'100vw - 55px');
	// max-width: 465px;

	.search-input input {
		padding-left: 15px;
		padding-right: 15px;

		@media(max-width:991px) {
			padding-left: 2px;
			padding-right: 0px;
		}

		@media(max-width:767px) {
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	@media(max-width:991px) {
		width: 100%;

	}

	@media(max-width:767px) {
		width: calc(~'100vw - 55px');
		max-width: 465px;

	}
}

.contacts-social {
	display: flex;
	margin-left: 30px;

	a {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 16px;
		color: @buttonActive;
		padding: 10px;
		margin-right: 10px;
		width: 40px;
		height: 40px;
		.tr;


		&:hover {
			background-color: @buttonActive;
			// border-radius: 50%;
		}

		@media(max-width:1199px) {
			padding-left: 6px;
			padding-right: 6px;
		}
	}

	@media(max-width:767px) {
		display: none;

	}
}

.contacts-block--mobile {
	.contacts-phones {
		margin-top: 20px;
		margin-bottom: 20px;

		a {
			display: block;
			font-family: @black;
			font-size: 18px;

			color: #fff;

			@media(max-width:767px) {
				font-size: 15px;
				line-height: 2;
			}

		}
	}

	.contacts-address {
		p {
			padding-left: 0;
			color: #fff;

			&:after {
				display: none;
			}
		}
	}
}

.header-wrapper.header-wrapper--grey {
	.header-top {
		background-color: #ededed;

		.contacts-social a {
			color: #333333;


			&:hover {
				color: #fff;
			}
		}
	}

	.header-nav-item {
		color: #333333;

		@media(max-width:991px) {
			color: #fff;

			&.active {
				border-bottom: 0px;
			}
		}


		&:hover,
		&.active {
			color: #fff;
		}
	}

	.search-btn {

		background-color: transparent;

		i {

			color: #969696;

		}
	}

	.search-input input {
		background-color: #ededed;
		color: #333333;

		&::placeholder {
			color: #333333;
		}
	}
}

.header-wrapper.header-wrapper--green {
	.header-top {
		background-color: @btn;

		.contacts-social a {
			color: #fff;
		}
	}

}