.time-card {
	width: 100px;
	height: 100px;

	font-size: 13px;

	background-color: #f3f3f3;

	form {
		width: 100px;
		height: 100px;
		padding: 6px;
		color: @white;
		.btn-gradient;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}


	input[type="submit"] {
		background-color: transparent;
		border-radius: 15px;
		width: 100%;
		border: 1px solid @white;
		height: 22px;
		color: @white;
		margin-top: 7px;
		cursor: pointer;
		transition: .3s;

		&:hover {
			box-shadow: 0 0 10px rgba(255, 255, 255, .5)
		}

	}
}

.timetable {
	overflow: auto;
}

::-webkit-scrollbar {
	/* 1 - скроллбар */
	width: 6px;
	height: 6px;
	background-color: #FFFFFF;
}

::-webkit-scrollbar-track {
	/* 3 - трек */
	background-color: #dedede;
}

::-webkit-scrollbar-track-piece {
	/* 4 - видимая часть трека */
}

::-webkit-scrollbar-thumb {
	/* 5 - ползунок */
	border-radius: 2px;
	background-color: @btn;
}

.timetable-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 118px;
	border: 1px solid #d4d4d4;
	border-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
	width: 1110px;


	.timetable-title {
		width: 265px;

		.text-14 {
			color: @buttonActive;
		}
	}

	.timetable-column {
		display: flex;
		justify-content: space-around;
		width: 100%;

	}

	.timetable-cell {
		width: 100px;
	}
}

.timetable-row--head {
	height: 50px;
	border: 0px;

	p {
		text-align: center;
		.text-14;
	}
}

.timetable-accordion {
	.card {
		border-radius: 0;
		border-left: 0px;
		border-right: 0px;
	}

	.card-body {
		padding: 0px;

	}

	.card-header {
		border-radius: 0;
		border-bottom: 0px;
		background-color: #fff;
		border-left: 0px;
		border-right: 0px;

		padding: 0;
		height: 60px;

		.btn-link {
			color: #535353;
			font-size: 18px;
			text-decoration: none !important;
		}

		button {
			display: block;
			width: 100%;
			height: 60px;
			line-height: 60px;
			padding: 0;
			text-align: left;
			padding-left: 20px;
			position: relative;
		}

		.arrow {
			position: absolute;
			right: 20px;
			top: 50%;
			transform: translateY(-50%);
			color: @btn;
			font-size: 18px;
			.tr;

			&.rotate {
				transform: translateY(-50%) rotate(180deg);
			}

		}
	}
}

.timetable2 {
	.timetable-row {
		width: 100%;
	}

	.timetable2__items {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.timetable-row--head {
		justify-content: space-between;
		display: flex;
		padding-left: 0;
		padding-right: 0;

		.timetable-cell {
			text-align: center;
		}
	}
}