.video-slider {
	padding-top: 60px;
	padding-bottom: 80px;
	background-color: #f3f3f3;

	.section-head {
		display: block;
		margin-bottom: 65px;
	}

	.section-head p {
		font-family: 'Lato Light';
		font-size: 16px;
	}

	.owl-carousel .item-video {
		height: 205px;
	}
}