extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	include ../sections/_page-contacts.pug
	include ../sections/_footer3.pug
	+modal1

block variables
	-var title = "Контакты"