extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	//- include ../sections/_slickSlider.pug
	//- include ../sections/_parallax-block.pug
	//- include ../sections/_multiform.pug
	//- include ../sections/_test.pug


block variables
	-var title = "Page";
