extends ../layouts/layout.pug

block content
	//- include ../sections/_header.pug	
	include ../sections/_banner1.pug
	include ../sections/_our-specialist.pug
	include ../sections/_about.pug


block variables
	-var title = "Page";
