extends ../layouts/layout.pug

block content
	//- include ../sections/_header.pug
	+header4
	include ../sections/_page-timetable.pug
	include ../sections/_footer1.pug

block variables
	-var title = "Расписание"