extends ../layouts/layout.pug

block content
	//- include ../sections/_header.pug
	+header3
	include ../sections/_persone-page.pug
	include ../sections/_footer2.pug
	+modal2
block variables
	-var title = "Страница доктора"