extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	include ../sections/_programm-page.pug
	include ../sections/_footer3.pug
	+modal1
block variables
	-var title = "Программа Моя семья"