extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	include ../sections/_specialists.pug
	include ../sections/_footer2.pug
	+modal1
block variables
	-var title = "Специалисты"